---
---

@import "code";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

a {
  text-decoration: underline;
}

p,
ul,
pre {
  margin-bottom: 1rem;
}

pre, code {
  border-radius: 0.25rem;
  white-space: pre-wrap;
}

pre {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

code {
  padding: 0.5rem;
}