<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/assets/css/styles.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="max-w-md mx-auto p-4">
    <div>
      <h1 class="inline-block">
        <a href="/">dorianmarie.fr</a>
      </h1>
      <a href="mailto:dorian@dorianmarie.fr">dorian@dorianmarie.fr</a>
    </div>
    <h2>{{ page.title }}</h2>
    {{ content }}
  </body>
</html>
